body{
  font-family: "Quicksand", sans-serif;
  font-style: normal;
}

.atas{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 5px 30px;
    border-bottom: 2px solid rgb(223, 223, 223);
    position: sticky;
    top: 0;
    z-index: 100;
}

.ini{
    display: flex;
    gap: 40px;
}

.itu{
    display: flex;
    gap: 10px;
}

.chapter-dropdown{
    max-width: 1000px;
    width: 100%;
}

.dropdown-toggle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border: none;
    background: white;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}


.dropdown-toggle:after{
    display: none !important;
}

.dropdown-toggle i{
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
}

.penulis{
    font-size: 13px;
    color: #666;
    font-weight: 500;
}

.judul{
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.dropdown-list{
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    width: 240px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    padding: 10px;
    z-index: 100;
    margin: 30px 20px;
}

.dropdown-list.active{
    display: block;
}

.chapter-item{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    font-size: 15px;
}

.tengah{
    max-width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 60px;
    gap: 40px;
}

.cerita h2{
    font-weight: bold;
    text-align: center;
}

.isi-cerita p{
    font-weight: 600;
    text-align: left;
}

.lanjut{
    text-align: center;
    background-color: #FA812F;
    height: 40px;
    border-radius: 20px;
    padding: 5px 0 0 0;
}

.lanjut a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.lanjut:hover, .lanjut a:hover{
    background-color: #FFB22C;
    color: black;
}