.header{
    background-color: white;
    padding: 12px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(229, 229, 229);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-link.active{
    font-weight: bold !important;
}

.kiri{
    display: flex;
    align-items: center;
    /* gap: 25px; */
    /* font-family: "Quicksand", sans-serif;
  font-style: normal; */
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.kanan{
    display: flex;
    align-items: center;
    gap: 25px;
    position: relative;
}

.dropdown-menu{
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    width: 150px;

    display: none; 
    flex-direction: column;
    gap: 5px;
}

.dropdown-menu.active {
    display: flex;
}

.dropdown-menu a{
    color: black;
    text-decoration: none;
}

.menu{
    display: flex;
    font-size: 20px;
    gap: 40px;
}

.menu a{
    display: flex;
    align-items: center;
}

.menu a span{
    display: inline;
}

.menu a i{
    display: none;
}

.menu .nav-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 0;
}

.menu i, .kanan i{
    font-size: 22px;
    cursor: pointer;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: black;
}

.profile img {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s;
    padding: 1px;
    border: 1.5px solid #ccc;
}

/* tablet potrait */
@media only screen and (max-width: 768px){
    .menu a span {
        display: none;
    }

    .menu a i {
        display: inline; 
    }

    .kanan{
        gap: 110px;
    }

    .menu{
        gap: 110px;
    }

    .profile img{
        width: 35px;
        height: 35px;
    }
}

/* tablet landscape */
@media only screen and (min-width: 992px) { }

/* large desktop */
@media only screen and (min-width: 1200px) { }
