body{
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  /* font-family: "Poppins", sans-serif;
  font-style: normal; */
}

.welcome{
    display: flex;
    flex-direction: column;
}

.sambutan{
    background-color: #FA812F;
    padding: 80px 0 0 150px;
    color: white;
    font-family: "Fredoka", sans-serif;
}

.sambutan h2{
    font-size: 45px;
}

.iklan{
    margin-left: 40px;
    margin-right: 40px;
}

.wave{
    overflow: hidden;
    fill: #FA812F;
    width: 100%;
    height: 170px;
}

.semua{
    margin: 40px 0 0 40px;
}

.semua h3, .peringkat p{
    font-weight: bold;
}

.peringkat{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 0 3px;
    height: 25px;
    width: 25px;
    background-color: #FA812F;
    border-radius: 5px 0 10px 0;
    z-index: 10;
}

.hasil{
    max-width: 170px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0 0 40px;

    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.hasil:hover{
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}

.cover{
    position: relative;
    overflow: hidden;
}

.cover img{
    width: 150px;
    min-width: 100px;
    height: auto;
    overflow: hidden;
    border-radius: 5px;

    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.cover1 img{
    width: 150px;
    min-width: 100px;
    height: auto;
    border-radius: 5px;

    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.isi{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
}

.judul{
    font-size: 15px;
    font-weight: bold;
}

.penulis{
    font-size: 11px;
}

.judul p, .penulis p{
    margin: 0;
    padding: 0;
}

.status{
    display: flex;
    padding: 0 0 0 10px;
    height: 20px;
    background-color: rgb(188, 188, 188);
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 70px;
    border-radius: 20px;
}

@media only screen and (max-width: 768px) {
   .sambutan{
        padding: 50px;
    }

    .sambutan h2{
        font-size: 35px;
    }

    .wave{
        height: 90px;
    }

    .judul{
        font-size: 15px;
    }

    .penulis{
        font-size: 10px;
    }
}





















