body{
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  /* font-family: "Poppins", sans-serif;
  font-style: normal; */
}

.welcome{
    display: flex;
    flex-direction: column;
}

.sambutan{
    background-color: #FA812F;
    padding: 80px 0 0 150px;
    color: white;
    font-family: "Fredoka", sans-serif;
}

.sambutan h2{
    font-size: 45px;
}

.iklan{
    margin-left: 40px;
    margin-right: 40px;
}

.wave {
    overflow: hidden;
    fill: #FA812F;
    width: 100%;
    height: 170px;
}

.recom{
    margin: 30px;
    width: 300px;
}

.recom h3{
    font-weight: bold; 
}




@media only screen and (max-width: 768px) {
   
}





















