body{
    font-family: "Quicksand", sans-serif;
}

.search{
    max-width: 1290px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 8px 20px -10px rgba(0,0,0,0.15);
    margin-bottom: 30px;
}

.form-control{
    height: 50px;
}

.bawah{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.btn-group{
    border: 1px solid rgb(232, 232, 232);
}

.cari button{
    background-color: #FA812F;
    width: 50px;
    height: 30px;
    margin-right: 6px;
    border-radius: 5px;
    border: none;
}

.cari button:hover{
    background-color: #FFB22C;
}

.hasil{
    max-width: 1240px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    margin: 15px 0 0 20px;
    gap: 40px;

    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.hasil:hover{
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.cover img{
    width: 150px;
    min-width: 100px;
    height: auto;
    border-radius: 5px;

    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.isi{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
}

.judul{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 28px;
    text-transform: capitalize;
}

.status{
    display: flex;
    padding: 0 0 0 10px;
    height: 20px;
    background-color: green;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 70px;
    border-radius: 20px;
}

.detail{
    display: flex;
    gap: 20px;
    padding-left: 5px;
    margin-top: 5px;
}

.detail hr {
    width: 1px;
    height: 20px;
    background-color: black;
    border: none;
}

.per {
    text-align: center;
}

.icon{
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.angka{
    font-size: 13px;
    font-weight: bold;
}

.deskripsi{
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* small phone */
@media only screen and (max-width: 375px){
    .search{
        width: 100% !important;
        max-width: 100% !important;
        box-sizing: border-box;
    }

    .hasil{
        width: 100%;
    }
}

/* medium phone */
@media only screen and (max-width: 480px) { }

/* large phone */
@media only screen and (max-width: 576px) { }

/* tablet potrait */
@media only screen and (max-width: 768px){
    .hasil{
        width: 600px;
        gap: 25px;
    }

    .judul p{
        font-size: 20px;
        margin-bottom: 30px;
    }

    .icon, .angka{
        font-size: 10;
    }

    .deskripsi{
        font-size: 12px;
    }
   
}

/* tablet landscape */
@media only screen and (max-width: 1024px) { }

/* large desktop */
@media only screen and (max-width: 1280px) { }



