body{
    font-family: "Quicksand", sans-serif;
}

.search{
    padding: 20px;
    box-shadow: 0 8px 20px -10px rgba(0,0,0,0.15);
    margin-bottom: 30px;
}

.form-control{
    height: 50px;
}

.bawah{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.btn-group{
    border: 1px solid rgb(232, 232, 232);
}

.cari button{
    background-color: #FA812F;
    width: 50px;
    height: 30px;
    margin-right: 6px;
    border-radius: 5px;
    border: none;
}

.cari button:hover{
    background-color: #FFB22C;
}

.hasil{
    max-width: 255px;
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    border-radius: 5px;
    margin: 10px;

    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.cover img{
    width: 200px;
    min-width: 100px;
    height: auto;
    border-radius: 5px;

    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.isi{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
}

.judul{
    font-size: 23px;
    font-weight: bold;
    height: 25px;
}

.penulis{
    font-size: 12px;
    height: 15px;
}

.status{
    display: flex;
    padding: 0 0 0 10px;
    height: 20px;
    background-color: green;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 70px;
    border-radius: 20px;
}

.detail{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    margin-top: 5px;
}

.detail hr {
    width: 1px;
    height: 20px; 
    background-color: black;
    border: none;
}

.icon{
    display: flex;
    gap: 5px;
    height: 20px;
    font-size: 13px;
}

.angka{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

@media only screen and (max-width: 768px){
    .hasil{
        width: 600px;
    }

    .judul p{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 45px;
    }
   
}


